@font-face {
    font-family: ProximaNova;
    src: url(fonts/Proxima-nova.otf);
}

body
{
	font-family: inherit;

}
.navigation-logo-menu {
    width: auto;
}
.navbar-right
{
	margin-right: 15px;
}
.navbar-header
{
	width: auto;
	margin-left: 20px;
}
.full-width
{
	width:100%!important;
}
#googleMap, .gm-style
{
	position: fixed !important;
	width:100%;
	height:100%;
	z-index: 0;
}
.input-block
{
	position: relative;
	float: left;
	width:442px;
	height: 830px;
	margin:120px 0px 0px 27px;
	background-color: #FFF;
	border-radius: 5px;
}
.input-block-header
{
	background-color: #36B777;
	font-size:20px;
	padding:16px 30px;

}

.input-block-header-zip
{
	color:#292929;
	margin-right: 10px;
	font-weight: 700;

}
.input-block-header-com
{
	font-weight: 400;
	color:#FFF;
}
.input-block-booking
{
	padding:18px 30px 18px;
	border-bottom:1px solid rgba(160, 158, 158, 0.5);

}

.input-block-booking div
{
	overflow: hidden;
}
.input-block-booking > div:first-child
{
	margin-bottom:15px;
}
.input-block-booking-left
{
	float:left;
	width:32px;
}
.input-block-booking-left img
{
	display: block;
	margin:auto;

}

.input-block-booking-right
{
	width:320px;
	margin-left:5px;
	float:left;
	line-height: 1.2;
}
.input-block-booking-right span
{
	font-weight: 500;
	font-size: 22px;
	color:#010101;
	font-weight: 500;
}
.input-block-booking-right span:first-child
{
	display: block;
}
.input-block-booking-right ul
{
	margin:0px;
	padding:0px;
	font-size: 16px;
}
.input-block-booking-right ul li
{
	list-style-type: none;
}
.input-block-booking-right ul li:first-child
{
	margin-bottom:18px;
	color:#37b777;
}
.input-block-booking-right ul li:last-child
{
	color:#ff0000;
}
.input-block-route
{
	padding: 18px 30px 0px;
	overflow: hidden;
	color:#555555;
}
.input-block-route-left
{
	float:left;
}
.input-block-route-right
{
	float: left;
	margin-left:5px;
}
.input-block-route-right h4
{
	margin:0px 0px 10px;
	font-size: 22px;
	display: inline;
}
.input-block-route-right p
{
	margin:5px 0px 0px;
	font-size: 16px;
}
.input-block-info
{
	font-size: 24px;
	display: flex;
	height: 350px;
	justify-content:center;
	align-items:center;
	flex-direction: column;
	padding: 0px 30px;
}
.input-block-info div
{
	border: 1px solid #efefef;
	width:100%;
	text-align: center;
	padding:10px 40px;
	line-height: 1.2;
}
.input-block-footer
{
	bottom: 0px;
	overflow: hidden;
	background-color: #6F737C;
	width: 100%;
	padding:20px 50px;
}

.input-block-footer-top
{
	display: flex;
	align-items:center;
}
.input-block-footer-top div:last-child
{
	margin-left:15px;
	color:#fff;
	font-size: 20px;
}
.input-block-footer-bottom
{
	display: flex;
	justify-content:space-between;
	margin-top: 20px;
}
.ad-footer
{
	width:100%;
	position: fixed;
	bottom:0px;
	background-color: #70747D;
	display: none;
}
.time
{
	color: #f26522;
	margin-left: 5px;
	font-weight: bold;
}
.arrival-time
{
	color: #37B777;
	font-weight: bold;
	margin-left: 5px;
}
.red-note
{
	color:#FE4241;
	font-size: 22px;
	text-align: center;
	padding:0px 30px;
	margin: -10px 0px 10px;
	font-size: 17px;
}
.bus-marker
{
	position: absolute;
	left: 30%;
	top:50%;
	width:72px;
	height: 72px;
}
.green-marker,.red-marker
{
	background: url(../img/green-marker.png) no-repeat;
	position: absolute;
	display: flex;
	align-items:center;
	justify-content:center;
	left: 50%;
	top:50%;
	width: 72px;
	height: 98px;
}
.red-marker
{
	background: url(../img/red-marker.png) no-repeat;
	border-color:#E31B40;
	left:70%;
}
.green-marker span, .red-marker span
{
	margin-top: -21px;
}

.input-block-footer-top div:last-child
{
	margin-left: 32px;	
}
@media(max-width: 1920px)
{
	
	.input-block
	{
		width:345px;
		height: 608px;
		margin:80px 0px 0px 15px;
	}
	.input-block-header
	{
		background-color: #36B777;
		font-size:17px;
		padding:12px 24px;
	}
	.input-block-booking
	{
		padding:10px 24px 10px;
	}
	.input-block-booking > div:first-child 
	{
	    margin-bottom: 23px;
	}
	.input-block-booking-left img
	{
		margin-top: 4px;
		width: 24px;
	}
	.input-block-booking div:last-child img
	{
		width: 12px;
	}
	.input-block-booking-right
	{
		width:227px;
		margin-left: 15px;
	}
	.input-block-booking-right span
	{
		font-size: 14px;
	}
	.input-block-booking-right span:first-child
	{
		margin-bottom: 10px;
	}
	.input-block-booking-right,.input-block-route-right
	{
	    margin-left: 10px;
	}
	.input-block-route
	{
		padding: 18px 22px 0px;
	}

	.input-block-route-left {
	    margin-left:4px;
	}
	.input-block-route-left img
	{
		width:30px;
		height: 30px;
	}	
	.input-block-booking-right ul li:first-child
	{
		margin-bottom: 10px
	}
	.input-block-route-right
	{
		float: left;
		margin-left:11px;
		width:224px;
	}
	.input-block-booking-right ul li
	{
		font-size: 13px;
	}
	.input-block-route-right h4,.input-block-route-right p {
	    font-size: 14px;
	}
	.input-block-info
	{
		padding: 0px 24px;
		height: 177px;
	}
	.input-block-info div
	{
		font-size: 11px;
	}
	.input-block-footer
	{
		padding:20px 25px;
	}
	.input-block-footer-top div:last-child
	{
		font-size: 17px;
	}
	.input-block-footer-top img
	{
		width:42px;
	}
	.input-block-footer-bottom img
	{
		width:128px;
	}
	.input-block-info div {
	    padding: 5px 40px;
	    font-size: 14px;
	}
	.input-block-footer {
	    padding: 13px 25px;
	}
	.red-note
	{
		font-size: 16px;
		margin: -5px 0px 5px;
	}
	.input-block-info div
	{
		padding:2px auto;
		font-size: 12px;
	}
	.green-marker,.red-marker
	{
		background-size: 60px;
		width: 60px;
		height: 83px;
		
	}
	.green-marker span, .red-marker span
	{
		font-size:12px;
	}
	.bus-marker img
	{
		width:60px;

	}
}
@media(max-width: 1376px)
{
	.input-block-info
	{
		height: 165px;
	}	
	.input-block
	{
		height: 540px;
	}
	.input-block-footer-top img
	{
		display: none;
	}

	.input-block-footer-top div:last-child 
	{
	    font-size: 12.5px;
	    margin: 0px auto;

	}
	.input-block-booking-right span
	{
		font-size: 15px;	
	}
	.input-block-booking-right ul
	{
		font-size: 15px;
	}
	.input-block-footer {
	    padding: 12px 25px;
	}
	.input-block-booking div:first-child
	{
		margin-bottom: 12.3px;
	}

}
@media(max-width: 1200px)
{
	.input-block
	{
		height: 280px;
		width:240px;
		margin: 60px 0px 23px 15px;
	}

	.input-block-header
	{
		font-size: 11px;
		padding: 5px 10px;
	}
	.input-block-booking {
	    padding: 5px 10px;
	}
	.input-block-booking-right,.input-block-route-right
	{
		width: 176px;
		margin-left: 5px;
	}
	.input-block-booking div:first-child {
	    margin-bottom: 6.9px;
	}	
	.input-block-booking-left img {
	    margin-top: 4px;
	    width: 20px;
	}
	.input-block-booking div:last-child img {
	    width: 10px;
	    margin-top: 0px;
	}

	.input-block-booking-right span:first-child
	{
		margin-bottom: 0px;
	}
	.input-block-booking-right span,.input-block-booking-right ul
	{
		font-size: 10.5px;
	}
	.input-block-booking-right ul li {
	    font-size: 11px;
	}
	.input-block-booking-right ul li:first-child {
	    margin-bottom: 5px;
	}
	.input-block-route
	{
		padding: 5px 10px;
	}
	.input-block-route-left {
	    margin-left:6px;
	}
	.input-block-route-right
	{
		margin-left: 10px;
	}
	.input-block-route-left img {
	    width: 20px;
	    height: 20px;
	    margin-top: 4px;
	}
	.input-block-route-right h4 {
		font-size: 10px;
		margin:0px;
	}
	.input-block-route-right p{
		font-size:10px;
		margin:0px;
	}
	.input-block-info {
	    height: 61px;
	    padding: 0px 16px;
	}
	.input-block-info div {
	    padding: 3px 30px;
	    font-size: 9px;
	}
	.input-block-footer
	{
		position: absolute;
		bottom: 0px;
	}
	.input-block-footer-bottom
	{
		margin-top: 5px;
	}
	.input-block-footer-bottom img {
	    width: 60px;
	}
	.input-block-footer-top div:last-child {
	    font-size: 8px;
	}
	.input-block-footer {
	    padding: 5px 15px;
	}
	.red-note
	{
		font-size: 12px;
		padding: 0px 10px;
	}
	.green-marker,.red-marker
	{


		font-size:10px;
		z-index: 100;
	}
	.bus-marker
	{
		z-index: 100;
	}
	.bus-marker img
	{
		width:48px;
	}
	.green-marker,.red-marker
	{
		background-size: 48px;
		width:48px;
		height: 65px;
		font-size: 10px
	}
	.green-marker span, .red-marker span{
		margin-top: -14px;
		font-size: 9px;
	}


}
@media(max-width:770px)
{
	.navbar-header
	{
		width: 100%;
	}
	.input-block
	{
		width: 96%;
		margin:56px 2% 2%;
		height: auto;
	}
	.input-block-booking-left img 
	{
		width: 14px;

	}
	.input-block-booking-right span:first-child
	{
		display: inline;
	}
	.input-block-booking-right
	{
		width:auto;
	}
	.input-block-footer
	{
		display: none;
	}
	
	.input-block-info span,.input-block-info
	{

		text-align: center;
		margin-left: 0px;
	}
	.input-block-info
	{
		position: fixed;
	    background-color: white;
	    margin-top: 5px !important;
	    width:96%;
	    padding: 0px 44px 0px;
	    height: auto;
	}
	.red-note
	{
		margin: 0px;
	}
	.input-block-booking div:first-child
	{
		margin-bottom: 5px;
	}
	.input-block-route-right {
		margin-left: 38px;
	    float:none;
	    width: auto;
	}
	.input-block-route-right p:last-child {
		float: right;
   		margin-top: -25px;
	}
	.input-block-booking-right ul li:first-child {
		margin-bottom: 	6px;
	}
	.input-block-route-left
	{
		text-align: center;
		margin-left: 9px;
	}
	.input-block-route-left img
	{
		width: 14px;
		height: 14px;
	}
	.ad-footer
	{
		display: flex;
		justify-content:space-between;
		align-items:center;	
		padding:5px;
	}
	.ad-footer div:nth-child(1)	img
	{
		width:30px;
	}
	.ad-footer div:nth-child(2)
	{
		color: #ffffff;
		padding:5px 10px;
		font-size: 10px;
	}
	.ad-footer div:nth-child(3)	img
	{
		width:10px;
	}
	.input-block-info div
	{
		border: none;
	}
	.remain-time
	{
		position: fixed;
		bottom: 57px;
		border-radius: 50%;
		padding: 0px;
		left:3%;
		background-color: #ffffff;
		padding: 0px !important;
		display: flex;
		flex-direction: column;
		justify-content:center;
		-webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
		height: 70px;
		width: 70px !important;
	}
	.green-marker, .red-marker
	{
		font-size: 8px;
	}
	.bus-marker img
	{
		width: 36px;
	}
	.red-marker,.green-marker
	{
		background-size: 36px;
		width: 36px;
		height: 49px;
	}
	.red-marker span, .green-marker span
	{
		font-size: 8px;
		margin-top: -11px;
	}
	.navigation-logo-menu
	{
		float: left;
	}
	.navigation-logo-menu li
	{
		text-align: left;
		padding-bottom: 0px;
	}
	.navigation-logo-menu li a
	{
		padding-left: 0px !important;
		font-size: 8px;
	}
	.navbar-right
	{
		margin-right: 0px;
	}
	.navbar-header
	{
		margin-left: 0px;
	}
}

@media(max-width: 600px)
{
	.input-block-booking-right
	{
		float:none;
		margin-left: 35px;
	}
}
@media(max-width:500px)
{
	
	.input-block-route-right p:last-child
	{
		position:inherit;
		top:0px;
		text-align: inherit;
	}

}
