@font-face {
    font-family: ProximaNova;
    src: url("../fonts/Proxima-nova.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
body
{
	font-family: inherit;
	overflow-x:hidden;
	background:rgb(235,238,241);
	height:100%;
}
html{
	height:100%;
}
.icon-bar
{
	background-color: white !important;
	margin-top:30px;
}
.navigation
{
	width: 100%;
}
.index-footer
{
	width: 100%;
	height: 752.217px;
}
.navigation
{
	max-height: 100px;	
	background-color: #272727;
}
.navbar-header
{
	width: 48%;
}
.navigation-logo
{
	display: inline-block;
	float:right;
	padding: 17px 0px;
	margin-right: 580px;
	text-align: right;
}
.navigation-logo:hover,.navigation-logo:focus,.navigation-logo:visited 
{
	text-decoration: none;
	outline:none;
}
.navigation-logo-top
{
	margin:0px;
	font-size: 29px;
	font-weight: 400;
	text-align: center;
	color: rgba(255, 255, 255, 0.9);
}
.navigation-logo-bottom
{
	margin:0px;
	color: #37b777;
	font-size: 17px;
	font-weight: 300;
	text-align: center;
}
.navigation-logo-menu
{
	width: 50%;	
	padding:40px 0px 40px 240px;
	margin-right: 20px;
	text-align: left;
}
.navbar-nav > li
{
	float: none;
	display: inline-block;
}
.navigation-logo-menu li
{
	border-right:1px solid #525151;
}
.navigation-logo-menu li:last-child
{
	border-right:none;
}
.navigation-logo-menu li:last-child a
{
	padding-right: 0px !important;
}
.navigation-logo-menu li:last-child a
{
	padding-right: 0px!important;
}
.navigation-logo-menu a
{
	padding:0px 16px !important;
	font-size: 18px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.9);
	line-height: 14px !important;
}
.navigation-logo-menu a:hover
{
	background-color: inherit!important;
	text-decoration: underline!important;
}
.navigation-logo-menu a:focus,.navigation-logo-menu a:visited
{
	outline:none !important;
	background-color: inherit!important;
}
.content{
	background:#fff;
	min-height: 100%;
}
.welcome{
	background:url(../img/welcome-background.png);
	padding-top:3%;
	background-position: 0px 12px;
	background-repeat: repeat-x;
	background-size: 530px;
	text-align: center;
}
.welcome-map{
	padding-top: 1%;

}
.welcome-image{
	height:100px;
}
.profile-dropdown{
	background:inherit;
	border:none;
	color: #8D958D;
	font-size: 12px;
	padding: 0px 5px !important;
}
.profile-dropdown:active{
	margin:0px;
	padding: 0px 5px !important;
}
.profile-dropdown + .dropdown-menu{
	background:#272727 !important;
	color:#8D958D !important;
	padding: 20px 10px;
}
.profile-dropdown + .dropdown-menu li{
	margin:5px 10px;
	border:none;
	padding:0px;
}
.profile-dropdown + .dropdown-menu li a{
	color:#8D958D !important;
	padding:0px 0px 10px !important;
}
.profile-dropdown + .dropdown-menu li:last-child a{
	color:#737272 !important;
}
.profile-dropdown:before{
	content:"";
	background:url(../img/avatar.png) no-repeat;
	background-size: 14px;
	width:14px;
	height:14px;
	display: inline-block;
	position:relative;
	margin: 0px 10px 0px 15px;
	top:3px;
}
.profile-dropdown .caret{
	color:#34ac64;
}
.welcome-title{
	color:  #0e9b57;
	font-size: 36px;
	margin:0px 0px 1.5%;
	text-align: center;
	text-transform: uppercase;
}
.welcome-des{
	text-align: center;
	font-size: 17px;
	color:  #3e3e3e;
	margin:0px;
}
.main-content{
	padding:10% 0;
	background: #f9f9f9;
}
.main-content-menu {
	text-align: right;
	width:170px;
}
.main-content-menu li{
	list-style-type: none;
	margin:5px 0px;
}
.main-content-menu li a{
	font-size:16px;
	color:rgba(106, 106, 106, 0.3);	
}
.main-content-menu li a:hover{
	color:  #0c9a52;
}
.main-content-menu .active-menu
{
	color:  #0c9a52;
}
.mail-content-menu{
	text-align: right;
}
.mail-content-menu li{
	list-style-type: none;
	font-size: 16px;
	margin-bottom: 15px;
}
.mail-content-menu li a{
	color:  #3b3b3b !important;
}
.mail-content-menu li a .glyphicon{
	color:#aaa;
}
.mail-content-menu li:first-child a .glyphicon{
	margin-right: 10px;
} 
.pass-description{
	text-align: center;
	margin: 10% auto 25%;
	width: 88%;
}
.pass-img-box{
	overflow:hidden;
	padding:3%;
	background:url(../img/pass-background.png) no-repeat;
	background-size: 100% 100%;
	width:80%;
	margin:auto;
}
.pass-left{
	float:left;
	width:80%;
}
.pass-right{
	float:left;
	width:20%;
	text-align: center;
}
.pass-title{
	font-size: 18px;
	color:#1d5a3b;
	margin:0px;
}
.pass-company{
	color:  #fefefe;
	font-size: 18px;
	margin-bottom:20px;
}
.pass-car{
	width:60px;
	margin-bottom: 15px;
}
.pass-number{
	font-size: 22px;
	color:#fff;
	margin-bottom: 35px;
}
.pass-name{
	font-size:20px;
	color:#fff;
	text-shadow: 0px 1px 2px rgba(33, 33, 33, 0.64);
}
.pass-time{
	margin:0px;
	font-size:18px;
	color:#fff;
}
.pass-time span{
	font-size: 16px;
	color:  #1d5a3b;
}
.pass-logo{
	width:85px;
}
.pass-money{
	color:  #fefefe;
	font-size: 30px;
	margin-top: 135px;
	margin-bottom: 0px
}
.black-button{
	padding:2% 16%;
	color:  #ffffff;
	font-size:20px;
	margin:auto;
	display: block;
	text-transform: uppercase;
	background: #000;
	border-radius: 5px;
	border: 0px;
}
.small-black-button{
	padding: 13px 26px;
}
.pass-content{
	width:100%;
}
.signin-modal-header{
	text-align: center;
	border-bottom: none;
}
.signin-modal-content,
.social-signin-modal-content{
	border-radius: 17px;
	padding: 20px 20px 85px;
}
.modal-title-wrapper{
	border-bottom: 1px solid #cfd1d3;
	margin: 0 auto 50px;
	padding-bottom: 3px;
	display: inline-block;
}
.modal-title{
	font-family: ProximaNova;
	color: #555555;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
}
.center{
	margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: center;
}
.verify-modal-title{
	font-family: ProximaNova;
	color: #232323;
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	margin-top: 130px;
	text-align: center;
}
.verify-modal-instructions{
	font-family: ProximaNova;
	color: #595959;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	margin-bottom: 50px;
}
.verify-form-control-code,
.verify-form-control-code:focus,
.verify-form-control-code:active{
	display: inline;
	border: 1px solid #7e7e7e;
	box-shadow: none;
	outline: none;
	background-color: transparent;
	line-height: 40px;
	width: 146px;
	height: 36px;
	text-align: center;
	font-family: ProximaNova;
	color: #464646;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 10px;
}
.resend-otp-wrapper{
  margin-bottom: 55px;
  text-align: center;
}
.resend-otp{
	font-family: ProximaNova;
	color: #7e7e7e;
	font-size: 16px;
	font-weight: 400;
	text-decoration: underline;
	text-align: center;
}
.signin-close:hover{
	opacity:1;
}
.signin-form-group,
.verify-form-group{
	border-bottom: 1px solid #b3b3b3;
	float: none;
	padding-left:0;
}
.verify-form-group{
	margin-bottom: 30px;
}
.signin-form-control,
.signin-form-control:focus,
.signin-form-control:active,
.verify-form-control,
.verify-form-control:focus,
.verify-form-control:active{
	display: inline;
	border: none;
	box-shadow: none;
	outline: none;
	width: auto;
	background-color: transparent;
	width: 90%;
	line-height: 40px;
}
.verify-form-control,
.verify-form-control:focus,
.verify-form-control:active{
	width: 70%;
	font-family: ProximaNova;
	color: #4d4d4d;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
}
img.form-icon {
  margin-bottom: 4px;
}
img.width22{
	width: 22px;
	height: auto;
}
.verify-form-control[type="number"],
.signin-form-control[type="number"]{
	-moz-appearance: textfield;
}
.signin-form-control[type="number"]::-webkit-outer-spin-button,
.signin-form-control[type="number"]::-webkit-inner-spin-button,
.verify-form-control[type="number"]::-webkit-outer-spin-button,
.verify-form-control[type="number"]::-webkit-inner-spin-button{
		/* display: none; <- Crashes Chrome on hover */
		-webkit-appearance: none;
		margin: 0;
}
select.signin-form-control{
	height:40px;
	-moz-appearance: none;
	text-indent: 0.01;
	text-overflow: '';
}
select:invalid{
  color:#b3b3b3;
}
.terms-and-conditions{
	margin: 5px auto 30px;
	float:none;
	padding-left: 0;
	line-height: 20px;
}
.pre-terms{
	color: #292828;
}
.terms{
	color: #128141;
	text-decoration: underline;
}
.pre-terms,
.terms{
	font-family: ProximaNova;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}
.verify-wrapper{
	text-align: center;
}
.btn-verify,
.btn-verify:active,
.btn-verify:hover,
.btn-verify:focus,
.btn-verify:active:focus{
	height: 51px;
	width: 218px;
	font-family: ProximaNova;
	color: #fff;
	background-color: #000;
	font-size: 24px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	border-radius: 8px;
	border-color: #000;
	box-shadow: none;
}
.btn-confirm,
.btn-confirm:active,
.btn-confirm:hover,
.btn-confirm:focus,
.btn-confirm:active:focus{
	height: 51px;
	width: 218px;
	border-radius: 8px;
	border-color: #000;
	box-shadow: none;
	background-color: #000;
	font-family: ProximaNova;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
}
.signin-form-group,
.verify-form-group,
.btn-verify,
.verify-form-group-code{
	margin-left: auto;
	margin-right: auto;
}
.verify-form-group-code{
	float: none;
	padding-left:0;
	text-align: center;
}
.fb-signin,
.google-signin{
	height: 59px;
	font-family: ProximaNova;
	font-size: 22px;
	font-weight: 400;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	margin-bottom:40px;
	float: none;
	cursor: pointer;
}
.fb-signin span,
.google-signin span{
	text-align: center;
	margin-left: 16%;
}
.fb-signin{
	margin-top: 80px;
	color: #425997;
	border: 1px solid #425997;
}
.google-signin{
	color: #ce1415;
	border: 1px solid #ce1415;
}
.social-icon{
	width: 79px;
	height: 58px;
}
.default-avatar{
	border-radius: 50%;
	background: #ccc;
}
.profile-table{
	width:75%;
	font-size: 0px;
}
.profile-table tr td{
	vertical-align: top;
}
.avatar-cell{
	width:22%;
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
}
.avatar-cell img{
	width:100%;
}
.profile-info{
	margin-left: 2%;
	width:76%;
	font-size: 14px;
	display: inline-block;
}
.profile-edit{
	text-align: right;
	padding-top: 8%;
}
.profile-edit a{
	border-bottom: 1px dotted #ccc;
	color:  #4d4c4c !important;
	text-decoration: none !important;
}
.profile-inputs{
	margin-top: -8%;
}
.profile-inputs input{
	border:none;
	border-bottom:1px solid rgba(185, 185, 185, 0.4);
	margin:0px 0px 8px;
	width:100%;
	padding: 5px 0px 5px 30px;
}
.profile-inputs p:first-child input{
	margin:55px 0px 20px;
	background: inherit;
}
.profile-email{
	background: url(../img/mail.png) no-repeat;
	background-position: 0px 6px;
}
.profile-password{
	background: url(../img/lock.png) no-repeat;
	background-position: 0px 2px;
}
.profile-phone{
	background: url(../img/phone.png) no-repeat; 
	background-position: 0px 8px;
}
.profile-city button{
	width:100%;
	border: none;
	text-align: left;
	border-bottom:1px solid rgba(185, 185, 185, 0.4) !important;
	background-color:inherit !important;
	background:url(../img/marker.png) no-repeat !important;
	background-position: 3px 5px !important;
	padding: 5px 0px 5px 30px;
}
.profile-city button .caret{
	border-top: 8px solid !important;
	border-right: 6px solid transparent !important;
	border-left: 6px solid transparent !important;
	float:right;
	margin-top:5px;
}
@-moz-document url-prefix() {
    .profile-city button .caret{
		margin-top:-12px;
	}
}
@media(min-width:768px){
  .signin-modal-content{
	  width:544px;
	  background: #fff url(../img/ModalBG.png) no-repeat 100% 96%;
  }
  .social-signin-modal-content{
	  width:544px;
	  height: 100%;
		background: #fff url(../img/ModalBG.png) no-repeat 100% 96%;
  }
	.modal-dialog {
    text-align: -webkit-center;
	}
	.constant-modal-height{
		height: 560px;
	}
}
.my-rides-box{
	background:url(../img/grey-stick1.png) no-repeat;
}
.my-rides-box .ride-box:last-child{
	margin:0px;
}
.ride-box{
	background:url(../img/grey-circle.png) no-repeat 0px center;
	overflow:hidden;
	margin: 0px 0px 14px;
}
.ride-block{
	width:93%;
	padding: 2% 6% 1% 8%;
	background: white url(../img/grey-circle.png) no-repeat 25px center;;
	float: right;
	margin: 0px;
}
.ride-route{
	padding:0px;
}
.ride-radio{
	display: none;
}
.ride-radio:checked + .ride-block{
	background: white url(../img/green-circle.png) no-repeat 25px center;;
}
.ride-route-from:before{
	background: url(../img/from-to.png) no-repeat;
	padding-left: 25px;
	content: "";
	width: 30px;
	height: 23px;
	display: inline-block;
	float: left;
	margin-top: -4px;
	background-position: 0px -3px;
}
.ride-route-to:before{
	background: url(../img/from-to.png) no-repeat;
    padding-left: 25px;
    content: "";
    width: 30px;
    height: 23px;
    display: inline-block;
    float: left;
    background-position: 0px -53px;
}
.ride-route li{
	list-style-type: none;
}
.ride-route-from ,.ride-route-to{
	color:  #737373;
	font-size: 15px;
	font-weight: normal;
}
.ride-route-to{
	position:relative;
}
.ride-route-status{
	position: absolute;
	top:0px;
	right:0px;
	text-align: right;
	color:  #343434;
}
.route-to-text{
	padding-right:85px;
	padding-left: 30px;
}
.route-from-text{
	padding-left: 30px;
	padding-bottom: 20px;
	background: url(../img/grey-stick.jpg) repeat-y;
	background-position: 14px 0px;
}
.ride-title{
	width:120px;
	margin: -7% auto 4%;
	text-align: center;
	border-bottom:1px solid #d6d6d6;
	font-size: 18px;
	color:black;
	padding-bottom: 6px;
	text-transform: uppercase;
}
.ride-ref{
	color:#737373;
	font-size: 18px;
	font-weight: normal;
	margin:0px 0px 0px 10px;
}
.ride-ref span{
	color:  #0e9b57;
}
.ride-time{
	color:#737070;
	font-size: 16px;
	font-weight: normal;
	margin:0px 0px 20px 5px;
}
.ride-time .glyphicon-time{
	font-size: 21px;
	position: relative;
	top:6px;
	margin-right: 5px;
}
.tracking-confirmation{
	padding:0px;
	font-size:0px;
	margin-bottom: 20px;
}
.tracking-confirmation li{
	display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
}
.tracking-confirmation li:first-child{
	width:6%;
}
.tracking-confirmation li:last-child{
	width:94%;
	padding-left: 2%;
}
.tracking-route li:first-child{
	width:4.5%;
}
.tracking-route li:first-child img{
	width:100%;
}
.tracking-route li:last-child{
	width:95.5%;
	padding-left: 2%;
}
.tracking-confirmation li img{
	vertical-align: top;
	margin-top: 3px;
	margin-right: 5px;
	width:100%;
}
.tracking-route{
	padding:0px;
	font-size:0;
}
.tracking-route li{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}
.tracking-route li img{
	vertical-align: top;
	margin-right: 4px;
}
.tracking-from{
	color:  #37b777;
	margin-bottom: 10px;
}
.tracking-to{
	color:  #ff0000;
}
.left-tracking{
	float:left;
	width:65%;
	margin-top:-5%;
}
.right-tracking{
	float:left;
	width:35%;
	margin-top:-5%;
}
.car-number{
	padding:0px;
	font-size:0;
	color:#555;
}
.car-number li{
	font-size:16px;
	display: inline-block;
	vertical-align: top;
}
.car-number li:first-child{
	width:18%;
	padding:0 4.5%;
}
.car-number li:first-child img{
	width:100%;
}
.car-number li:last-child{
	width:82%;
}
.car-type{
	padding:0px;
	font-size: 0;
	color:#555;
}
.car-type li{
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
}
.car-type li:first-child{
	width:17.5%;
}
.car-type li:last-child{
	width:82.5%;
}
#tracking-map{
	width:100%;
	height:460px;
}
.pickup-map{
	position: absolute;
	z-index: 2;
	bottom:3%;
	left:3%;
	background:#fff;
	border-radius: 50%;
	width:100px;
	height:100px;
	text-align: center;
	padding-top:31px;
	-webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
}
.pickup-map span{
	display: inline-block;
	color:  #f26522;
}
.map-box{
	position: relative;
	clear: both;
}
.company-select{
	color:  #3b3b3b;
	font-size:16px;
}
.company-select:before{
	background: url(../img/train-pic.png) no-repeat;
	content:"";
	width:20px;
	height:22px;
	display: inline-block;
	position: relative;
	top:5px;
	margin-right: 15px;
}
.company-dropdown button{
	width:100%;
	border:none;
	background: rgba(236, 236, 236, 0.5);
	position: relative;
}
.company-dropdown button span{
	position: absolute;
	right:10px;
	top:15px;
}
.company-dropdown .dropdown-menu{
	width:100%;
	background:#FAFAFA;
}
.company-dropdown .dropdown-menu li{
	text-align: center;
	background:#FAFAFA;
}
.company-dropdown .dropdown-menu li a{
	padding:8px 0px;
	margin:0px 5px;
	border-bottom: 1px solid #F4F4F4;
}
.company-dropdown #company-city-button{
	width:100% !important;
	text-align: center;
	border:none;
}
.company-dropdown .ui-selectmenu-text{
	text-align: center !important;
}
#company-city-menu li{
	text-align: center;
	padding:10px 8px;
	border:none!important;
	border-bottom: 1px solid #F4F4F4 !important;
	background:#FAFAFA;
}
.ui-state-focus{
	border:none!important;
	border-bottom: 1px solid #F4F4F4 !important;
	border-top:none !important;
	margin:0px !important;
}
#company-city-menu li:first-child{
	display: none;
}
#company-city-button .ui-icon-triangle-1-s{
	border-top: 6px solid !important;
	border-right: 4px solid transparent !important;
	border-left: 4px solid transparent !important;
	margin-top: -2px;
	width:auto;
	height:auto;
}
.company-list{
	width:65%;
	font-size: 0;
	margin: 7% auto 12%;
	clear:both;
	padding:0px;
}
.company-list li{
	display: inline-block;
	width:25%;
	margin-bottom: 3%;
}
.company-list li label img{
	cursor:pointer;
}
.company-list li input{
	display: none;
}
.company-list li label{
	background:url(../img/empty-circle.png) no-repeat center left;
	width:100%;
	padding-left: 30px;
}
.company-list li input:checked + label{
	background:url(../img/success-circle.png) no-repeat center left;
}
.request-company{
	font-size:0;
	width:40%;
	margin:auto;
	padding-left: 70px;
}
.request-company li{
	display: inline-block;
	font-size: 14px;
	color:  #9f9f9f;
}
.request-company li:first-child{
	margin-right:40px;
}
.request-company li a{
	font-size: 16px;
	color:  #0e9b57;
	text-transform: uppercase;
}
.company-done{
	margin-top:10%;
	text-align: center;
}
.company-done a{
	color:#B7B7B9 !important;
}
.company-done{
	text-align: center;
}
.company-done .black-button{
	display: inline-block;
	padding:10px 60px;
}
.company-done a{
	margin-right:5%;
}
.verify-company-img{
	margin: 3% 0px 8%;
	text-align: center;
}
.verify-title{
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	color:  #3b3b3b;
	margin-bottom: 6%;
}
.verify-input{
	width:80%;
	margin:0px auto 3%;
}
.verify-input input{
	background: #f1f3f5 !important;
	border:none !important;
	outline:none !important;
	box-shadow: none !important;
}
.verify-input .input-group{
	margin-bottom: 4px;
}
.verify-input .input-group span{
	border:none !important;
	background: #f1f3f5 !important;
	outline:none !important;
	box-shadow: none !important;
}
.verify-note{
	width:80%;
	color:  #8c8c8c;
	margin:auto;
	text-align: center;
}
.verify-links{
	width:64%;
	margin: 14% auto 6%;
	overflow:hidden;
}
.verify-links a{
	color:  #7f7f7f !important;
}
.verify-links a:first-child{
	float:left;
}
.verify-links a:last-child{
	float:right;
}
.bottom-button .black-button{
	padding: 2% 16%;
}
.bottom-button a{
	display: none;
}
.verify-successful{
	text-align: center;
	margin:5% 0;
}
.verify-successful img{
	margin-bottom: 2%;
}
.verify-successful p{
	color:  #2d2b2b;
	font-size: 16px;
}
.customer-info-list{
	padding:0px;
	width:98%;
	margin:1% auto 2%;
	border-bottom: 1px solid #c4c4c7;
}
.customer-info-list li{
	list-style-type: none;
	overflow:hidden;
}
.customer-email .glyphicon-envelope{
	color: rgb(170, 170, 170);
	font-size: 18px;
	top: 4px;
	margin-right: 7px;
}
.customer-name{
	color:  #1a1a1a;
	font-size: 16px;
}
.customer-name img{
	margin-right: 7px;
}
.customer-email{
	float:left;
	width:60%;
}
.customer-ad{
	float:right;
	width:40%;
	text-align: right;
}
.customer-instructions{
	text-align: center;
	margin-bottom: 2%;
	clear: both;
	border-top: 1px solid #b2b3b6;
}
.customer-instructions h4{
	font-weight: bold;
}
.customer-instructions p{
	color:  #484848;
}
.map-container{
	position: relative;
}
.map-left-block{
	position: absolute;
	width:35%;
	height:95%;
	background: #fff;
	z-index: 2;
	left: 0px;
	top: 0px;
	margin:1%;
	overflow: auto;
}
.map-left-title{
	color:  #656565;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	padding:5% 0 3%;
	border-bottom: 1px solid #b2b3b6;
	width:90%;
	margin: auto;
}
.map-left-routes{
	width:94%;
	margin: 65px auto;
	border-bottom: 1px solid #b2b3b6;
	padding-bottom: 25px;
}
.map-left-routes input{
	display: none;
}
.map-left-routes label{
	background:url(../img/empty-circle.png) no-repeat;
	padding-left: 30px;
	cursor:pointer;
	font-weight: normal;
	color:#000;
}
.map-left-routes label span{
	color:  #a4a4a4;
}
.map-left-routes div:first-child{
	margin-bottom: 15px;
}
.map-left-routes input:checked + label{
	background:url(../img/green-circle.png) no-repeat;
}
.stop-table{
	width:90%;
	margin:3%;
}
.stop-table tr td:first-child{
	width:30px;
	text-align: center;
}
.stop-table tr td:last-child p{
	color:  #2b2b2b;
	font-size: 16px;
	text-decoration: uppercase;
	margin-bottom: 5px;
	padding-left: 4% !important; 
	font-weight: bold; 
}
.stop-table tr td:last-child{
}
.stop-table .input-group{
	border-radius: 0px;
}
.stop-table .form-control{
	outline:none !important;
	border:none !important;
	border-bottom: 1px solid #c4c4c7 !important;
	box-shadow: none !important;
	padding-left: 4.5% !important;
	border-radius: 0px !important;
}
.stop-table .input-group .input-group-addon{
	border:none !important;
	border-bottom: 1px solid #c4c4c7 !important;
	background:inherit !important;
	border-radius: 0px !important;
	padding-right: 4px !important;
}
.stop-table .ui-autocomplete{
	width:100% !important;
}
.stop-table .ui-autocomplete .ui-menu-item{
	border:0px !important;
}
.map-button{
	float: right;
	margin: 2% 10%;
	width: 30%;
}
.map-button .black-button{
	border-radius: 10px;
	display: inline-block;
}
.map-button a{
	vertical-align: middle;
	font-size: 18px;
	color:#3b3b3b;
	padding-right: 20px
}
.no-routes, .route-status{
	text-align: center;
    width: 90%;
    margin: 85px auto 0px;
}
.no-routes p, .route-status p{
	color:  #020202;
	font-size: 16px;
}
.select-stop{
	margin: 15px auto 25px;
	width:60%;
	text-align: center;
}
.select-stop h4{
	text-transform: uppercase;
	color:  #0e0e0e;
	font-size: 18px;
	margin: 0px 0px 5px;
}
.select-stop p{
	color:  #0e0e0e;
	font-size: 14px;
	margin:0px;
}
.stop-description{
	font-size: 0px;
	width:100%;
	margin-bottom: 5px;
}
.stop-block{
	margin-bottom: 10px;
}
.stop-block label{
    width: 94%;
    margin: auto;
    padding-left: 20px;
    background: url(../img/empty-circle.png) no-repeat 0px top;
    display: block;
    cursor:pointer;
}
.stop-block input:checked + label{
	background: url(../img/green-circle.png) no-repeat 0px top;
}
.stop-block input{
	display: none;
}
.stop-description div{
	font-size: 14px;
	display: inline-block;
	width:50%;
	text-align: center;
	vertical-align: top;
}
.stop-description div h4{
	font-size: 16px;
	color:  #0e0e0e;
	margin:0px;
}
.stop-description div span{
	color:  #9a9a9a;
	font-size: 13px;
	font-weight: normal;
}
.stop-bottom{
	background:url(../img/stop-background.png) no-repeat;
	background-size: 100%;
	width: 80%;
    margin: auto;
    font-size: 0px;
}
.stop-bottom div{
	padding-top:5%;
	display: inline-block;
	font-size: 11px;
	color:  #9a9a9a;
	font-weight: normal;
}
.stop-bottom div:first-child{
	text-align: left;
	width: 35%;
	padding-left: 6%;
}
.stop-bottom div:last-child{
	text-align: right;
	width: 35%;
	padding-right: 6%;
}
.stop-bottom div:nth-child(2){
	width: 30%;
	text-align: center;
}
.map-left-block-cover{
	width:100%;
	height:100%;
	position:absolute;
	background: rgba(255,255,255,0.6);
	z-index: 10;
	top:0px;
	left:0px;
}
.map-right-block{
	position: absolute;
	width:35%;
	height:95%;
	background: #fff;
	z-index: 2;
	right: 20%;
	top: 0px;
	margin:1%;
	overflow: auto;
	padding: 1% 2.5%;
}
.right-block-title{
	color:  #030202;
	font-size:16px;
	text-transform: uppercase;	
	font-weight: bold;
}
.right-block-passes{
	margin-bottom: 35px;
}
.right-block-passes input{
	display: none;
}
.right-block-passes label{
	display: block;
	color:  #7b7b7b;
	font-size:14px;
	font-weight: normal;
	padding-left: 25px;
	background:url(../img/empty-circle.png) no-repeat 0px 4px;
	background-size: 12px;
	cursor:pointer;
}
.right-block-passes input:checked + label{
	background:url(../img/green-circle.png) no-repeat 0px 4px;
	background-size: 12px;
}
.right-block-addons{
	margin-bottom: 20px;
}
.right-block-addons input{
	display: none;
}
.right-block-addons label{
	display: block;
	background:url(../img/empty-square.png) no-repeat 0px 4px;
	padding-left: 25px;
	cursor:pointer;
	font-size:14px;
	font-weight: normal;
	color:  #7b7b7b;
}
.right-block-addons input:checked + label{
	background:url(../img/green-square.png) no-repeat 0px 4px;
}
.prefered-time{
	font-size: 0px;
	border-top: 1px solid #b2b3b6;
	border-bottom: 1px solid #b2b3b6;
	padding:15px 0px;
	margin-bottom: 22px;
}
.prefered-time div{
	font-size: 14px;
	display: inline-block;
	width:50%;
	vertical-align: top;
	text-align: center;
}
.prefered-time div:first-child{
	border-right: 1px solid #b2b3b6;
}
.prefered-time div p{
	color:  #7b7b7b;
	margin:0px 0px 3px;
}
.prefered-time div span{
	color:#000;
}
.bottom-text{
	font-size: 14px;
	color:  #7b7b7b;
}
.confitm-title{
	text-align: center;
	padding:2.5% 0px;
	color:  #000000;
	font-size: 20px;
	font-weight: bold;
}
.confirm-route{
	background:#EBEEF1;
	font-size: 0px;
	padding:3% 20%;
}
.confirm-route div{
	font-size: 16px;
	display: inline-block;
}
.confirm-route div:first-child{
	width:45%;
	text-align: left;
}
.confirm-route div:nth-child(2){
	width:10%;
	text-align: center;
	vertical-align: bottom;
}
.confirm-route div:nth-child(2) img{
	cursor:pointer;
}
.confirm-route div:last-child{
	width:45%;
	text-align: right;
}
.confirm-route div{
	color:  #919090;
	font-size: 16px;
}
.confirm-route div p{
	color:  #2b2b2b;
	font-size: 16px;
	text-transform: uppercase;
	margin:0 0 5px;
}
.confirm-content{
	width:46%;
	margin: 2% auto;
	background:#f2f4f6;
	padding: 1.5% 3%;
}
.confirm-amount-title{
	color:  #464646;
	font-size:16px;
	text-align: center;
}
.confirm-amount-price{
	color: #000000;
    font-size: 18px;
    text-align: center;
    margin: 10px -8% 15px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}
.confirm-amount-pass{
	color:  #0d894d;
	font-size: 18px;
	text-align: center;
}
.confirm-amount-pay{
	font-size: 0px;
}
.confirm-amount-pay div{
	display: inline-block;
	width:50%;
	color:  #6d6d6d;
	font-size: 18px;
}
.confirm-amount-pay div:first-child{
	border-right: 1px solid #b5b7b9;
}
.confirm-amount-pay div:last-child{
	text-align: right;
}
.confirm-amount-pass{
	margin-bottom: 20px;
}
.confirm-amount-pass p{
	margin:0px 0px 5px;
}
.confirm-benefits{
	width:45%;
	margin:auto;
	padding:0px;
}
.confirm-benefits li{
	color:  #737373;
	margin-bottom: 10px;
}
.confirm-button{
	width:50%;
	margin: 8% auto 2%;
	text-align: center;
}
.confirm-only-back{
	text-align: right;
}
.confirm-only-back .black-button{
	display: none !important;
}
.confirm-only-back a{
	padding-right:0px !important;
}
.confirm-button a{
	vertical-align: middle;
	font-size: 18px;
	color: #3b3b3b;
	padding-right: 60px;
}
.confirm-button .black-button{
	display: inline-block;
}
.no-company-welcome{
	height:115px;
	margin-bottom:20px;
}
.pass-date{
	color:  #000000;
	text-align: center;
	font-size: 24px;
	margin:50px auto 0;
	font-weight: bold;
}
.small-img-box{
	padding: 1.5%;
	width: 40%;
	margin: 0px auto 0px;
	position: relative;
}
.small-img-box .pass-title{
	font-size: 14px;
}
.small-img-box .pass-company{
	font-size: 14px;
}
.small-img-box .pass-car{
	width: 40px;
}
.small-img-box .pass-number{
	font-size: 18px;
	margin-bottom: 15px;
}
.small-img-box .pass-name{
	font-size: 16px;
}
.small-img-box .pass-time{
	font-size: 14px;
}
.small-img-box .pass-logo{
	width:60px;
}
.small-img-box .pass-money{
	font-size: 20px;
	margin-top: 115px;
}
.pass-status{
	width: 50%;
	margin: auto;
	text-align: center;
	margin: 8% auto 0;
}
.pass-status h4{
	color:  #000000;
	font-size: 22px;
	margin-bottom: 20px;
}
.pass-status p{
	color:  #7b7b7b;
	font-size: 18px;
}
.pass-status p:nth-child(4){
	margin:0px;
}
.pass-status h5{
	margin-top: -15px;
	margin-bottom: 25px;
	font-size: 16px;
}
.discontinue-link{
	display: block;
	text-align: center;
	margin-top:45px;
	font-size: 16px;
}
.discontinue-link a{
	color:  #767676 !important;
	border-bottom: 1px solid #f3f3f3;
}
.discontinue-link a:hover{
	text-decoration: none !important;
}
.pass-links{
	overflow:hidden;
	color:  #838383;
	font-size: 16px;
	width: 40%;
	margin:15px auto -40px;
	padding:0px 10px;
}
.pass-links a:first-child{
	float:left;
	text-decoration: underline;
	background:url(../img/eye.png) no-repeat 0px 7px;
	padding-left: 25px;
	color: #838383 !important;
}
.pass-links input{
	display: none;
}
.pass-links input:checked + label{
	background:url(../img/on-icon.png) no-repeat right 3px;
	background-size: 35px;
}
.pass-links label{
	float:right;
	background:url(../img/off-icon.png) no-repeat right 3px;
	background-size: 35px;
	padding-right: 45px;
	color: #838383 !important;
	font-weight: normal;
	cursor:pointer;
}
.discontinue-edit-links{
	width:50%;
	margin: 45px auto 0px;
	overflow:hidden;
}
.discontinue-edit-links a{
	color:  #3b3b3b !important;
	font-size: 16px;
	text-decoration: underline;
}
.discontinue-edit-links a:first-child{
	float:left;
}
.discontinue-edit-links a:last-child{
	float:right;
}
.full-pass-content{
	overflow:hidden;
	width:80%;
	margin:auto;
}
.full-pass-content .pass-home-work{
	float:left;
	width:50%;
}
.full-pass-content .pass-img-box{
	float:right;
}
.pass-home{
	margin-top:5%;
	margin-bottom: 15%;
}
.pass-home ,.pass-work{
	font-size: 0px;
}
.pass-home div ,.pass-work div{
	font-size: 16px;
	display: inline-block;
	color:  #000000;
}
.pass-home div:first-child ,.pass-work div:first-child{
	vertical-align: top;
	width:24%;
	text-align: center;
	color:  #807f7f;
}
.pass-home div:last-child, .pass-work div:last-child{
	width:76%;
}
.pass-home div:last-child p,.pass-work div:last-child p{
	color:  #000000;
	font-size: 18px;
	margin:0px;
	font-weight: bold;
}
#pass-map{
	height:300px;
	width:100%;
}
.pass-map-box{
	position: relative;
	margin-top:30px;
}
.pass-map-block{
	position: absolute;
	width:30%;
	height:260px;
	left:13%;
	background:#fff;
	z-index: 3;
	padding:2%;
}
.pass-timings{
	color:  #757575;
	margin-bottom: 15px;
}
.pass-time-stop{
	color:  #000000;
}
.pass-route{
	color:  #000000;
	margin-bottom: 40px;	
}
.pass-stop{
	color:#000;
}
.pass-route2P{
	color:#000;
}
.pass-terms{
	width:70%;
	margin:auto;
}
.pass-terms{
	position: relative;
	margin:30px auto 50px;
}
.pass-terms a{
	position: absolute;
	bottom:0px;
	right:0px;
	color:  #3b3b3b !important;
	font-size: 16px;
}
.pass-terms ul{
	padding:0px 55px 0px 0px;
}
.pass-terms h4{
	color:#3b3b3b;
	margin-bottom: 20px;
}
.pass-terms ul li{
	margin-bottom: 5px;
	color:  #5b5b5b;
}
.pass-now-future{
	width:100%;
	font-size: 0px;
}
.pass-now-future > div{
	display: inline-block;
	width:50%;
	vertical-align: top;
}
.pass-now-future .pass-img-box{
	width:70%;
}
.pass-now-future-top{
	position: relative;	
}
.pass-now-future > div:first-child{
	position: relative;
	left:50%;
}
.pass-now-future > div:last-child{
	position: relative;
	right:50%;
	border-right:1px solid #d1d1d1;
}
.pass-now-future > div h4{
	text-align: center;
}
.pass-now-future > div h3{
	text-align: center;
	font-weight: bold;
}
.pass-now-future-description{
	width:80%;
	margin:10% auto 0;
}
.pass-now-future-description p{
	color:  #7b7b7b;
	font-size: 14px;
	text-align: center;
	margin-bottom: 18%;
}
.details-link{
	position: absolute;
	bottom:10px;
	right: 16%;
	color:  #909090 !important;
	font-size: 14px;
	bottom: -30px;
	background:url(../img/eye.png) no-repeat 0px 5px;
	padding-left: 27px;
}
.pass-now-future-link {
	text-align: right;
	width: 94%;
	margin: 6% 0;
}
.pass-now-future-link a{
	color:  #3b3b3b !important;
	font-size: 18px;
}
.tracking-name{
	width:100%;
	display:block;
}
@media(max-width:1920px)
{
	.navigation
	{
		max-height: 68px;
	}
	.navigation-logo-menu
	{
		width: 50%;
		padding: 23px 0px 23px 200px;

	}
	.navigation-logo
	{
		margin-right: 330px;
		padding: 11.5px 0px;
	}
	.navigation-logo-top
	{
		font-size: 19px;
	}
	.navigation-logo-bottom
	{
		font-size: 12.5px;
	}
	.navigation-logo-menu a
	{
		font-size: 12px;
	}
}
@media(max-width:1200px)
{
	.nav{width: auto;}
	.navigation-logo-menu
	{
		padding: 13px 0px 13px 115px;
		margin:0px;
		width: 50%;
	}
	.navigation-logo-menu li a
	{
		font-size: 9px;
	}
	.navbar-header
	{
		width: 48%;
	}
	.navigation-logo {

	    padding: 7.5px 0px;
	    width: 48%;
	    margin-right: 120px;
	}
	.navigation-logo-top {
	    font-size: 12.5px;
	}
	.navigation-logo-bottom
	{
		font-size: 9px;
	}
}
@media(max-width:767px)
{
	.navigation
	{
		width:100%;
	}
	.navbar-header
	{
		width: 100%;
		height:65px;
	}
	#navbar {
	    position: absolute;
	    right: 0px;
	    top: 38px;
	    z-index: 5;
	}
	.navigation-logo
	{
		width: auto;
	}
	.navigation-logo-menu
	{
		width: auto;
	}
	.navigation-logo-menu a
	{
		font-size: 14px;
	}
	.navigation-logo-top
	{
		font-size: 14px;
	}
	.navigation
	{
		height: 40px;
		min-height: auto;
	}
	.navbar-header
	{
		height: 39px;
	}
	.navigation-logo-menu
	{
		background-color: #272727;
		float: right;
		margin-right: 0px;
	}
	.navigation-logo
	{
		float:left;
		margin:5px 5px 5px 15px !important;
		padding: 0px;
		
	}
	.navigation,.description-box
		{
			width:100%;
		}
	.navigation-logo-menu
	{
		padding:5px 5px 15px 5px;	

	}
	.navigation-logo-menu li
	{
		border-left:0px;
		padding-bottom: 10px;
		text-align: center;
		padding-left: 3px !important;
		padding-right: 3px !important;
	}
	.navigation-logo-menu li a
	{
		padding:7px 0px 7px 0px !important;
		border-bottom: 1px solid #1A1A1A;
		text-align: left;
	}
	.navbar-toggle
	{
		margin:-16px 15px 5px;
		padding:0px;
		margin-top: -17px;
	}
	.navigation-logo-bottom
	{
		font-size: 8px;
	}
	.navbar-collapse
	{
		padding:0px;
	}
	.navbar-nav > li
	{
		display: block;
	}
	.content{
		width:95%;
	}
	.main-content{
		background:#fff;
		padding:0px;
	}
	.pass-content{
		width:100%;
	}
	.welcome-title{
		font-size: 20px;
	}
	.welcome-des{
		font-size: 10px;
		margin-top:10px;
		margin-bottom: 5px;
	}
	.pass-description{
		width:100%;
		font-size: 12px;
	}
	.pass-title{
		font-size: 13px;
	}
	.pass-company{
		display: none;
	}
	.pass-name{
		display: none;
	}
	.pass-number{
		font-size: 12px;
	}
	.pass-time{
		font-size: 10px;
	}
	.pass-time span{
		font-size: 9px;
	}
	.pass-car{
	    width: 35px;
	    margin:20px 0px 5px;
	}
	.pass-logo {
	    width: 45px;
	}
	.pass-money {
	    color: #fefefe;
	    font-size: 12px;
	    margin-top: 76px;
	}
	.pass-img-box{
		width: 85%;
    	margin: auto;
	}
	.black-button{
		font-size:14px;
	}
	.welcome{
		margin-top: 30px;
	    background-size: 208px;
	}
	.ride-block{
		width:100%;
		padding:10px 0px 0px 35px;
	}
	.ride-radio:checked + .ride-block {
	    background: white url(../img/green-circle.png) no-repeat 15px center;
	}
	.ride-block{
		background: white url(../img/grey-circle.png) no-repeat 15px center;
	}
	.route-from-text{
		font-size: 12px;
	}
	.route-to-text{
		font-size: 12px;
	}
	.ride-route-status{
		font-size: 12px;
	}
	.route-to-text {
	    padding-right: 60px
	}
	.ride-ref{
		font-size: 14px;
	}
	.ride-time{
		font-size: 12px;
	}
	.mail-back{
		display: none;
	}
	.mail-content-menu{
		text-align: left;
		padding:0px;
	}
	.mail-content-menu li a{
		font-size: 12px;
	}
	.verify-company-img{
		width:40%;
		margin:auto;
	}
	.verify-company-img img{
		width:100%;
	}
	.verify-title{
		font-size: 14px;
		margin-bottom: 10%;
	}
	.verify-input {
	    margin: 0px auto 5%;
	}
	.verify-input input{
		font-size: 12px;
		height: 25px;
	}
	.verify-input .input-group span{
		font-size: 12px;
		padding: 3px 5px;
	}
	.verify-note{
		font-size: 10px;
		width:100%;
	}
	.verify-links{
		width:100%;
		font-size: 12px;
	}
	.bottom-button{
		margin-bottom: 3%;
		overflow:hidden;
	}
	.bottom-button a{
		float:left;
		display: inline-block;
		color:  #3b3b3b !important;
		margin-top: 4%;
	}
	.bottom-button .black-button{
		float:right;
		font-size: 11px;
		padding:4% 6%;
	}
	.verify-successful img{
		width:10%;
	}
	.verify-successful p{
		font-size: 12px;
	}
	.customer-info-list{
		border:none;
		margin-top:15px;
	}
	.customer-ad{
		width:100%;
		clear:both;
		text-align: center;
		font-size:10px;
		border-top:1px solid #b2b3b6;
		padding-top:12px;
		margin-top:12px;
		margin-bottom: 20px;
	}
	.customer-email{
		width: 75%;
		font-size: 8px;
		float:left;
	}
	.customer-email .glyphicon-envelope{
		font-size: 13px;
		top:2px;
	}
	.customer-name img {
	    margin-right: 5px;
	    width: 14px;
	}
	.customer-name{
		font-size: 12px;
		margin-bottom: 5px;
		float: left;
		width:75%;
		margin-top:20px;
	}
	.customer-info{
		width:100%;
	}
	.welcome-map
	{
		float:right;
		width:25%;
		margin-top: 15px;
	}
	.welcome-map img{
		width:100%;
		height:auto;
	}
	.customer-instructions{
		clear:both;
		border-top:none;
		margin:0px 0px 8%;
	}
	.customer-instructions h4{
		font-size: 12px;
		margin:0px 0px 3px;
	}
	.customer-instructions p{
		font-size: 10px;
	}
	.map-left-block{
		position: relative;
		width:100%;
		margin:0;
	}
	#tracking-map{
		height: 260px;
	}
	.stop-table tr td:last-child p{
		font-size: 12px;
		margin:0px;
	}
	.stop-table .form-control{
		height:auto !important;
		padding:0px 0px 0px 4.5% !important;
		font-size:12px;
		border-bottom: none !important;
	}
	.stop-table .input-group .input-group-addon{
		padding:0px 0px 0px 5px;
		border-bottom: none !important;
		font-size: 12px;
	}
	.stop-table .input-group .input-group-addon .glyphicon{
		top:-8px;
	}
	.stop-table tr td{
	    padding-bottom: 5px;
	    border-bottom: 1px solid #c4c4c7;
	}
	.map-left-block{
		width: 100%;
		margin: 0px auto 5%;
	}
	.map-button{
		float:none;
		margin: 5% auto;
		width:100%;
		text-align: center;
	}
	.map-button a{
		font-size: 14px;
	}
	.map-button .black-button{
		border-radius: 2px;
	}
	.customer-ad{
		padding-top: 20px;
	}
	.no-routes{
		width:100%;
		margin:50px auto;
	}
	.no-routes span{
		font-size: 12px;
	}
	.map-left-title{
		width:90%;
		font-size: 14px;
		text-align: left;
		border-bottom: 0px;
	}
	.map-left-routes{
		width:100%;
		margin: 25px auto 0px;
		border-bottom: 0px;
		padding-bottom: 0px;
		clear:both;
		overflow: hidden;
	}
	.map-left-routes div{
		width:50%;
		float:left;
	    text-align: center;
	}
	.map-left-routes div:first-child{
		margin-bottom: 5px;
	}
	.map-left-routes label{
		padding-left: 17px;
		font-size: 10px;
		background-size: 14px;
	}
	.map-left-routes input:checked + label{
		background-size: 14px;
	}
	.route-status{
		width:100%;
		margin:0px;
	}
	.route-status p{
		font-size: 9px;
		display: inline-block;
		margin:0px;
	}
	.route-status span{
		font-size: 9px;
		color:  #989898;
	}
	.select-stop{
		width:100%;
	}
	.select-stop h4{
		font-size: 14px;
	}
	.select-stop p{
		font-size: 11px;
	}
	.stop-description div h4 {
    	font-size: 13px;
	}
	.stop-description div span{
		font-size: 10px;
	}
	.mobile-map{
		display: none;
	}
	.map-right-block{
		position: relative;
		width:100%;
		height:auto;
		right:0px;
	}
	.right-block-title{
		font-size: 13px;
	}
	.right-block-passes label{
		font-size: 12px;
	}
	.right-block-addons{
		margin-top:15px;
	}
	.right-block-addons label{
		font-size: 13px;
	}
	.right-block-passes {
	    margin-bottom: 20px;
	}
	.prefered-time{
		margin-top: 15px;
		padding: 10px 0px;
		margin-bottom: 10px;
	}
	.prefered-time div{
		font-size: 12px;
	}
	.bottom-text{
		font-size: 12px;
		text-align: center;
	}
	.confitm-title{
		text-align: left;
		padding: 5.5% 0px 8%;
		color: #000000;
		font-size: 12px;
		border-bottom: 2px solid #EBEEF1;
	}
	.confirm-route{
		padding:0 5%;
		background:#fff;
	}
	.confirm-route div{
		vertical-align: top;
	}
	.confirm-route div:nth-child(2) {
		vertical-align: middle;
	}
	.confirm-route div p{
		font-size: 12px;
	}
	.confirm-route div{
		font-size: 9px;
	}
	.confirm-route div:nth-child(2) img{
		width:80%;
	}
	.confirm-content{
		width: auto;
		padding: 1.5% 3%;
		margin-right: -5px;
		margin-left: -5px;
		margin-top: 40px;
	}
	.confirm-amount-title{
		font-size: 8px;
		padding-top: 5px;
	}
	.confirm-amount-price{
		font-size: 12px;
		margin: 5px -8% 5px;
		padding-bottom: 10px;
	}
	.confirm-amount-pass {
	    margin-bottom: 10px;
	    font-size: 12px;
	}
	.confirm-amount-pass p{
		font-size: 12px;
		margin:0px;
	}
	.confirm-amount-pay div{
		font-size: 10px;
	}
	.confirm-benefits {
   		width: 94%;
   		font-size: 10px;
   		margin: 15% auto;
   	}
   	.confirm-benefits li{
   		margin-bottom: 5px;
   	}
   	.confirm-button{
   		width:94%;
   		margin: 0px auto 5%;
		text-align: center;
   	}
	.confirm-button a{
		font-size: 14px;
		padding-right: 15px;
	}
	.pass-date{
		font-size: 14px;
		margin: 20px auto;
	}
	.small-img-box {
	    padding: 4.5%;
	    width:90%;
	}
	.small-img-box .pass-title {
	    font-size: 9px;
	}
	.small-img-box .pass-company{
		display: block;
		font-size: 9px;
		margin-bottom: 10px;
	}
	.small-img-box .pass-number {
	    font-size: 12px;
	}
	.small-img-box .pass-name{
		display: block;
		font-size: 10px;
	}
	.small-img-box .pass-time {
	    font-size: 9px;
	}
	.small-img-box .pass-car{
		margin:0px 0px 5px;
		width:30px;
	}
	.small-img-box .pass-money{
		margin-top:75px;
		font-size: 12px;
	}
	.small-img-box .pass-logo {
	    width: 40px;
	}
	.pass-status{
		width: 100%;
		margin: 8% auto 25%;
	}
	.pass-status p{
		font-size: 11px;
	}
	.pass-status h4{
		margin-bottom: 30px;
		margin-top: 35px;
		font-size: 12px;
	}
	.no-company-welcome{
		height:65px;
		margin-top: 0px;
	}
	.pass-links{
		font-size: 11px;
		width: 100%;
		margin: 15px auto -15px;
		padding: 0px 15px;
	}
	.pass-links a:first-child{
		background: url(../img/eye.png) no-repeat 0px 5px;
		padding-left: 20px;
		background-size: 15px;
	}
	.pass-links label{
		background: url(../img/off-icon.png) no-repeat right 0px;
		background-size: 25px;
		padding-right: 30px;
	}
	.pass-links input:checked + label{
		background: url(../img/on-icon.png) no-repeat right 0px;
		background-size: 25px;
	}
	.pass-status h5{
		font-size: 11px;
		margin-top:-23px;
	}
	.discontinue-link{
		text-align: center;
		width:70%;
		margin: -50px auto 25px;
	}
	.discontinue-link a{
		font-size:12px;
		position: relative;
		right: 70px;
	}
	.small-black-button {
	    padding: 7px 13px;
	    font-size: 12px;
	}
	.black-button{
		border-radius: 5px;
	}
	.discontinue-edit-links{
		width:94%;
		margin: -50px auto 50px;
	}
	.discontinue-edit-links a{
		font-size: 12px;
	}
	.full-pass-content{
		width:100%;
		float:none;
	}
	.full-pass-content .pass-home-work{
		float:none;
		width:100%;
	}
	.pass-home div:first-child, .pass-work div:first-child{
		font-size: 12px;
		text-align: left;
		width: 21%;
	}
	.pass-home div:last-child p, .pass-work div:last-child p{
		font-size: 12px;
	}
	.pass-home div, .pass-work div{
		font-size: 11px;
	}
	.pass-home {
	    margin-top: 0%;
	    margin-bottom: 5%;
	}
	.full-pass-content .pass-img-box{
		display: none;
	}
	.pass-map-block{
		position: relative;
		width: 100%;
		left: 0%;
	}
	.pass-map-block{
		padding:0px;
		height:auto;
	}
	.pass-timings{
		font-size: 12px;
	}
	.pass-time-stop{
		font-size: 12px;
		padding-left: 21%;
		margin: 0 0 5px;
	}
	.pass-route{
		font-size: 12px;
		padding-left:21%;
		margin:0 0 5px;
	}
	.pass-stop{
		padding-left: 21%;
		margin:0 0 5px;
	}
	.pass-route2{
		font-size: 12px;
		padding-left:21%;
	}
	#pass-map{
		width:auto;
		margin-left:-15px;
		margin-right: -15px;
		height:220px;
	}
	.pass-terms{
		width:100%;
		margin:15px auto 30px;
	}
	.pass-terms h4{
		font-size: 12px;
		margin-bottom: 10px;
	}
	.pass-terms ul{
		padding: 0px 0px 0px 10px;
	}
	.pass-terms ul li{
		font-size: 10px;
		margin-bottom: 3px;
	}
	.pass-terms a{
		bottom:-20px;
		font-size: 12px;
	}
	.pass-now-future > div:first-child{
		border-bottom: 1px solid #d1d1d1;
		margin-bottom: 8%
	}
	.pass-now-future > div:last-child{
		border:none;
	}
	.pass-now-future > div:first-child, .pass-now-future > div:last-child{
		position: static;
		width:100%;
	}
	.pass-now-future > div:last-child{
		width:80%;
		display: block;
		margin:auto;
	}
	.pass-now-future > div h4{
		font-size: 14px;
	}
	.pass-now-future .pass-img-box {
	    width: 90%;
	}
	.pass-now-future > div h3{
		font-size: 14px;
		margin-top:20px;
		margin-bottom: 5px;
	}
	.pass-now-future > div h4{
		font-size: 12px;
		margin-top:0px;
	}
	.details-link{
	    bottom: 10px;
	    right: 6%;
	    font-size: 10px;
	    bottom: -20px;
	    background: url(../img/eye.png) no-repeat 0px 2px;
	    padding-left: 21px;
	    background-size: 17px;
	}
	.pass-now-future-description{
		width:100%;
	}
	.pass-now-future-description p{
		font-size: 10px;
		margin-bottom: 5%;
	}
	.pass-now-future-link{
		width:100%;
		margin:0px;
		position: relative;
	    top: -24px;
	}
	.pass-now-future-link a{
		font-size: 12px;
	}
	.company-list{
		width:85%;
	    margin: 25% auto 25%;
	}
	.company-list li{
	    width: 33%;
	}
	.company-list li label img{
		max-width: 100%;
		height: 20px;
	}
	.company-list li{
		vertical-align: top;
		margin-bottom: 9%;
	}
	.company-list li label{
		background-size: 10px;
		padding-left: 15px;
	}
	.company-list li input:checked + label{
		background-size: 10px;
	}
	.company-select{
		font-size: 11px;
		margin-top:20px;
	}
	.company-select:before {
	    width: 10px;
	    height: 16px;
	    margin-right: 6px;
	    background-size: 100%;
	}
	.company-dropdown{
		font-size:10px;
	    margin-top: 20px;
	}
	.company-dropdown #company-city-button{
		border:none;
	}
	.request-company{
		display: none;
	}
	.company-done a{
		color:#B7B7B9 !important;
		float:left;
		padding-top: 10px;
	}
	.company-done{
		overflow:hidden;
		width:80%;
		margin:auto;
	}
	.company-done .black-button{
		padding:10px 40px;
		float:right;
	}
	.avatar-cell{
		width:30%;
	    margin: 10% auto 0%;
		display: block;
	}
	.profile-table{
		width:100%;
	}
	.profile-info{
		margin:0px;
		width:100%;
	}
	.profile-inputs p:first-child input{
		padding: 5px 35px 5px 5px;
		margin:0px;
	}
	.profile-inputs{
	    width: 85%;
	    margin: 0px auto 15%
	}
	.profile-edit{
		position:relative;
		top:25px;
		margin:0px;
		padding:0px;
		right:8%;
	}
	.profile-edit a{
		border-bottom:0px;
	}
	.profile-inputs input{
	    font-size: 12px;
        padding: 5px 0px 5px 20px;
	}
	.profile-email{
		background-position: 0px 7px;
		background-size: 16px;
	}
	.profile-password{
	    background-position: 0px 3px;
    	background-size: 14px;
	}
	.profile-phone{
	    background-position: 0px 8px;
	    background-size: 14px;
	}
	.profile-city button{
		font-size: 12px;
		padding: 5px 0px 5px 20px;
	    background-position: 1px 3px !important;
	}
	.left-tracking, .right-tracking{
		width:100%;
		float:none;
	}
	.tracking-confirmation{
	    margin: 10% 0px 2%;
	}
	.tracking-confirmation li{
		font-size: 11px;
	}
	.tracking-name{
		display: inline;
	}
	.tracking-confirmation li:last-child{
		padding-top: 2.5%;
	}
	.tracking-route{
		margin:3% auto 0;
	}
	.tracking-route li:last-child{
		font-size: 11px;
		padding-left: 3.8%;
	}
	.car-number{
	    width: 60%;
	    float: left;
	}
	.car-type{
		float:right;
		width:40%;
	}
	.car-number li:first-child {
	    width: 14%;
		padding: 0 4.5% 0 0;
	}
	.car-number li{
		font-size: 12px;
	}
	.car-type li{
		font-size: 11px;
		text-align: center;
	}
	.car-type li:first-child, .car-type li:last-child{
		width:100%;
		position:relative;
	}
	.car-type li:first-child{
		top:15px;
	}
	.car-type li:last-child{
		bottom:15px;
	}
	.right-tracking{
		overflow:hidden;
		margin:2.5% auto 5%;
	}
	.left-tracking{
		border-bottom:1px solid #cdcccc;
	}
	.bottom-link{
		position: relative;
		top:60px;
	}
	.top-link{
		position: relative;
		bottom:30px;
	}
}
.labelFrom {
    color: #fe1f2e;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    white-space: nowrap;
}
.labelTo{
	color: #2cbf4f;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    white-space: nowrap;
}