@font-face {
    font-family: ProximaNova;
    src: url("../fonts/Proxima-nova.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
body
{
	font-family: inherit;
	overflow-x:hidden;
	background:rgb(235,238,241);
}
.icon-bar
{
	background-color: white !important;
	margin-top:30px;
}
.navigation
{
	width: 100%;
}
.index-footer
{
	width: 100%;
	height: 752.217px;
}
.navigation
{
	max-height: 100px;	
	background-color: #272727;
}
.navbar-header
{
	width: 48%;
}
.navigation-logo
{

	display: inline-block;
	float:right;
	padding: 17px 0px;
	margin-right: 580px;
	text-align: right;
}
.navigation-logo:hover,.navigation-logo:focus,.navigation-logo:visited 
{
	text-decoration: none;
	outline:none;
}
.navigation-logo-top
{
	margin:0px;
	font-size: 29px;
	font-weight: 400;
	text-align: center;
	color: rgba(255, 255, 255, 0.9);
}
.navigation-logo-bottom
{
	margin:0px;
	color: #37b777;
	font-size: 17px;
	font-weight: 300;
	text-align: center;
}
.navigation-logo-menu
{
	width: 50%;	
	padding:40px 0px 40px 240px;
	margin-right: 20px;
	text-align: left;
}
.navbar-nav > li
{
	float: none;
	display: inline-block;
}
.navigation-logo-menu li
{
	border-right:1px solid #525151;
}
.navigation-logo-menu li:last-child
{
	border-right:none;
}
.navigation-logo-menu li:last-child a
{
	padding-right: 0px !important;
}
.navigation-logo-menu li:last-child a
{
	padding-right: 0px!important;
}
.navigation-logo-menu a
{
	padding:0px 16px !important;
	font-size: 18px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.9);
	line-height: 14px !important;
}
.navigation-logo-menu a:hover
{
	background-color: inherit!important;
	text-decoration: underline!important;
}
.navigation-logo-menu a:focus,.navigation-logo-menu a:visited
{
	outline:none !important;
	background-color: inherit!important;
}
.content{
	background:#fff;
}
.welcome{
	background:url(../img/welcome-background.png);
	padding-top:3%;
	background-position: 0px 12px;
	background-repeat: repeat-x;
	background-size: 530px;
}
.profile-dropdown{
	background:inherit;
	border:none;
	color: #8D958D;
	font-size: 12px;
	padding: 0px 5px !important;
}
.profile-dropdown:active{
	margin:0px;
	padding: 0px 5px !important;
}
.profile-dropdown + .dropdown-menu{
	background:#272727 !important;
	color:#8D958D !important;
}
.profile-dropdown + .dropdown-menu li{
	margin:5px 10px;
	border:none;
	padding:0px;

}
.profile-dropdown + .dropdown-menu li a{
	color:#8D958D !important;
	padding:0px !important;
}
.profile-dropdown:before{
	content:"";
	background:url(../img/avatar.png) no-repeat;
	background-size: 14px;
	width:14px;
	height:14px;
	display: inline-block;
	position:relative;
	margin: 0px 10px 0px 15px;
	top:3px;
}
.profile-dropdown .caret{
	color:#34ac64;
}
.welcome-title{
	color:  #0e9b57;
	font-size: 36px;
	margin:0px 0px 1.5%;
	text-align: center;
	text-transform: uppercase;
}
.welcome-des{
	text-align: center;
	font-size: 17px;
	color:  #3e3e3e;
	margin:0px;
}
.main-content{
	padding:10% 0;
	background: #f9f9f9;
}
.main-content-menu {
	text-align: right;
	width:170px;
}
.main-content-menu li{
	list-style-type: none;
	margin:5px 0px;
}
.main-content-menu li a{
	font-size:16px;
	color:rgba(106, 106, 106, 0.3);	
}
.main-content-menu li a:hover{
	color:  #0c9a52;
}
.main-content-menu .active-menu
{
	color:  #0c9a52;
}
.pass-description{
	text-align: center;
	margin: 10% auto 25%;
	width: 88%;
}
.pass-img-box{
	text-align: center;
}
.pass-img-box img{
	max-width: 100%;
}
.black-button{
	padding:4% 16%;
	color:  #ffffff;
	font-size:20px;
	margin:auto;
	display: block;
	text-transform: uppercase;
	background: #000;
	border-radius:5px;
}
.pass-content{
	width:85%;
}
.signin-modal-header{
	text-align: center;
	border-bottom: none;
}
.signin-modal-content,
.social-signin-modal-content{
	border-radius: 17px;
	padding: 20px 20px 85px;
}
.modal-title-wrapper{
	border-bottom: 1px solid #cfd1d3;
	margin: 0 auto 50px;
	padding-bottom: 3px;
	display: inline-block;
}
.modal-title{
	font-family: ProximaNova;
	color: #555555;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
}
.center{
	margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: center;
}
.verify-modal-title{
	font-family: ProximaNova;
	color: #232323;
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	margin-top: 130px;
	text-align: center;
}
.verify-modal-instructions{
	font-family: ProximaNova;
	color: #595959;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	margin-bottom: 50px;
}
.verify-form-control-code,
.verify-form-control-code:focus,
.verify-form-control-code:active{
	display: inline;
	border: 1px solid #7e7e7e;
	box-shadow: none;
	outline: none;
	background-color: transparent;
	line-height: 40px;
	width: 146px;
	height: 36px;
	text-align: center;
	font-family: ProximaNova;
	color: #464646;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 10px;
}
.resend-otp-wrapper{
  margin-bottom: 55px;
  text-align: center;
}
.resend-otp{
	font-family: ProximaNova;
	color: #7e7e7e;
	font-size: 16px;
	font-weight: 400;
	text-decoration: underline;
	text-align: center;
}
.signin-close:hover{
	opacity:1;
}
.signin-form-group,
.verify-form-group{
	border-bottom: 1px solid #b3b3b3;
	float: none;
	padding-left:0;
}
.verify-form-group{
	margin-bottom: 30px;
}
.signin-form-control,
.signin-form-control:focus,
.signin-form-control:active,
.verify-form-control,
.verify-form-control:focus,
.verify-form-control:active{
	display: inline;
	border: none;
	box-shadow: none;
	outline: none;
	width: auto;
	background-color: transparent;
	width: 90%;
	line-height: 40px;
}
.verify-form-control,
.verify-form-control:focus,
.verify-form-control:active{
	width: 70%;
	font-family: ProximaNova;
	color: #4d4d4d;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
}
img.form-icon {
  margin-bottom: 4px;
}
img.width22{
	width: 22px;
	height: auto;
}
.verify-form-control[type="number"],
.signin-form-control[type="number"]{
	-moz-appearance: textfield;
}
.signin-form-control[type="number"]::-webkit-outer-spin-button,
.signin-form-control[type="number"]::-webkit-inner-spin-button,
.verify-form-control[type="number"]::-webkit-outer-spin-button,
.verify-form-control[type="number"]::-webkit-inner-spin-button{
		/* display: none; <- Crashes Chrome on hover */
		-webkit-appearance: none;
		margin: 0;
}
select.signin-form-control{
	height:40px;
	-moz-appearance: none;
	text-indent: 0.01;
	text-overflow: '';
}
select:invalid{
  color:#b3b3b3;
}
.terms-and-conditions{
	margin: 5px auto 30px;
	float:none;
	padding-left: 0;
	line-height: 20px;
}
.pre-terms{
	color: #292828;
}
.terms{
	color: #128141;
	text-decoration: underline;
}
.pre-terms,
.terms{
	font-family: ProximaNova;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}
.verify-wrapper{
	text-align: center;
}
.btn-verify,
.btn-verify:active,
.btn-verify:hover,
.btn-verify:focus,
.btn-verify:active:focus{
	height: 51px;
	width: 218px;
	font-family: ProximaNova;
	color: #fff;
	background-color: #000;
	font-size: 24px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	border-radius: 8px;
	border-color: #000;
	box-shadow: none;
}
.btn-confirm,
.btn-confirm:active,
.btn-confirm:hover,
.btn-confirm:focus,
.btn-confirm:active:focus{
	height: 51px;
	width: 218px;
	border-radius: 8px;
	border-color: #000;
	box-shadow: none;
	background-color: #000;
	font-family: ProximaNova;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
}
.signin-form-group,
.verify-form-group,
.btn-verify,
.verify-form-group-code{
	margin-left: auto;
	margin-right: auto;
}
.verify-form-group-code{
	float: none;
	padding-left:0;
	text-align: center;
}
.fb-signin,
.google-signin{
	height: 59px;
	font-family: ProximaNova;
	font-size: 22px;
	font-weight: 400;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	margin-bottom:40px;
	float: none;
	cursor: pointer;
}
.fb-signin span,
.google-signin span{
	text-align: center;
	margin-left: 16%;
}
.fb-signin{
	margin-top: 80px;
	color: #425997;
	border: 1px solid #425997;
}
.google-signin{
	color: #ce1415;
	border: 1px solid #ce1415;
}
.social-icon{
	width: 79px;
	height: 58px;
}
.default-avatar{
	border-radius: 50%;
	background: #ccc;
}
.profile-table{
	width:75%;
}
.profile-table tr td{
	vertical-align: top;
}
.avatar-cell{
	width:22%;
}
.avatar-cell img{
	width:100%;
}
.profile-info{
	padding-left: 2%;
}
.profile-edit{
	text-align: right;
}
.profile-edit a{
	border-bottom: 1px dotted #ccc;
	color:  #4d4c4c !important;
}
.profile-edit a{
	text-decoration: none !important;
}
.profile-inputs input{
	border:none;
	border-bottom:1px solid rgba(185, 185, 185, 0.4);
	margin:0px 0px 8px;
	width:100%;
	padding: 5px 0px 5px 30px;
}
.profile-inputs p:first-child input{
	margin:55px 0px 20px;
}
.profile-email{
	background: url(../img/mail.png) no-repeat;
	background-position: 0px 6px;
}
.profile-password{
	background: url(../img/lock.png) no-repeat;
	background-position: 0px 2px;
}
.profile-phone{
	background: url(../img/phone.png) no-repeat; 
	background-position: 0px 8px;
}
.profile-city button{
	width:100%;
	border: none;
	text-align: left;
	border-bottom:1px solid rgba(185, 185, 185, 0.4) !important;
	background-color:inherit !important;
	background:url(../img/marker.png) no-repeat !important;
	background-position: 3px 5px !important;
	padding: 5px 0px 5px 30px;
}
.profile-city button .caret{
	border-top: 8px solid !important;
	border-right: 6px solid transparent !important;
	border-left: 6px solid transparent !important;
	float:right;
	margin-top:-12px;
}
@media(min-width:768px){
  .signin-modal-content{
	  width:544px;
	  background: #fff url(../img/ModalBG.png) no-repeat 100% 96%;
  }
  .social-signin-modal-content{
	  width:544px;
	  height: 100%;
		background: #fff url(../img/ModalBG.png) no-repeat 100% 96%;
  }
	.modal-dialog {
    text-align: -webkit-center;
	}
	.constant-modal-height{
		height: 560px;
	}
}
.my-rides-box{
	background:url(../img/grey-stick1.png) no-repeat;
}
.my-rides-box .ride-box:last-child{
	margin:0px;
}
.ride-box{
	background:url(../img/grey-circle.png) no-repeat 0px center;
	overflow:hidden;
	margin: 0px 0px 14px;
}
.ride-block{
	width:93%;
	padding: 2% 6% 1% 8%;
	background: white url(../img/grey-circle.png) no-repeat 25px center;;
	float: right;
	margin: 0px;
}
.ride-route{
	padding:0px;
}
.ride-radio{
	display: none;
}
.ride-radio:checked + .ride-block{
	background: white url(../img/green-circle.png) no-repeat 25px center;;
}
.ride-route-from:before{
	background: url(../img/from-to.png) no-repeat;
	padding-left: 25px;
	content: "";
	width: 30px;
	height: 23px;
	display: inline-block;
	float: left;
	margin-top: -4px;
	background-position: 0px -3px;
}
.ride-route-to:before{
	background: url(../img/from-to.png) no-repeat;
    padding-left: 25px;
    content: "";
    width: 30px;
    height: 23px;
    display: inline-block;
    float: left;
    background-position: 0px -53px;
}
.ride-route li{
	list-style-type: none;
}
.ride-route-from ,.ride-route-to{
	color:  #737373;
	font-size: 15px;
	font-weight: normal;
}
.ride-route-to{
	position:relative;
}
.ride-route-status{
	position: absolute;
	top:0px;
	right:0px;
	text-align: right;
	color:  #343434;
}
.route-to-text{
	padding-right:85px;
	padding-left: 30px;
}
.route-from-text{
	padding-left: 30px;
	padding-bottom: 20px;
	background: url(../img/grey-stick.jpg) repeat-y;
	background-position: 14px 0px;
}
.ride-title{
	width:120px;
	margin: -7% auto 4%;
	text-align: center;
	border-bottom:1px solid #d6d6d6;
	font-size: 18px;
	color:black;
	padding-bottom: 6px;
	text-transform: uppercase;
}
.ride-ref{
	color:#737373;
	font-size: 18px;
	font-weight: normal;
	margin:0px 0px 0px 10px;
}
.ride-ref span{
	color:  #0e9b57;
}
.ride-time{
	color:#737070;
	font-size: 16px;
	font-weight: normal;
	margin:0px 0px 20px 5px;
}
.ride-time .glyphicon-time{
	font-size: 21px;
	position: relative;
	top:6px;
	margin-right: 5px;
}
.tracking-confirmation{
	padding:0px;
	font-size:0px;
	margin-bottom: 20px;
}
.tracking-confirmation li{
	display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
}
.tracking-confirmation li:first-child{
	width:6%;
}
.tracking-confirmation li:last-child{
	width:94%;
	padding-left: 2%;
}
.tracking-route li:first-child{
	width:4.5%;
}
.tracking-route li:first-child img{
	width:100%;
}
.tracking-route li:last-child{
	width:95.5%;
	padding-left: 2%;
}
.tracking-confirmation li img{
	vertical-align: top;
	margin-top: 3px;
	margin-right: 5px;
	width:100%;
}
.tracking-route{
	padding:0px;
	font-size:0;
}
.tracking-route li{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}
.tracking-route li img{
	vertical-align: top;
	margin-right: 4px;
}
.tracking-from{
	color:  #37b777;
	margin-bottom: 10px;
}
.tracking-to{
	color:  #ff0000;
}
.left-tracking{
	float:left;
	width:65%;
	margin-top:-5%;
}
.right-tracking{
	float:left;
	width:35%;
	margin-top:-5%;
}
.car-number{
	padding:0px;
	font-size:0;
	color:#555;
}
.car-number li{
	font-size:16px;
	display: inline-block;
	vertical-align: top;
}
.car-number li:first-child{
	width:18%;
	padding:0 4.5%;
}
.car-number li:first-child img{
	width:100%;
}
.car-number li:last-child{
	width:82%;
}
.car-type{
	padding:0px;
	font-size: 0;
	color:#555;
}
.car-type li{
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
}
.car-type li:first-child{
	width:17.5%;
}
.car-type li:last-child{
	width:82.5%;
}
#tracking-map{
	width:100%;
	height:390px;
}
.pickup-map{
	position: absolute;
	z-index: 2;
	bottom:3%;
	left:3%;
	background:#fff;
	border-radius: 50%;
	width:100px;
	height:100px;
	text-align: center;
	padding-top:31px;
	-webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
}
.pickup-map span{
	display: inline-block;
	color:  #f26522;
}
.map-box{
	position: relative;
	clear: both;
}
.company-select{
	color:  #3b3b3b;
	font-size:16px;
}
.company-select:before{
	background: url(../img/train-pic.png) no-repeat;
	content:"";
	width:20px;
	height:22px;
	display: inline-block;
	position: relative;
	top:5px;
	margin-right: 15px;
}
.company-dropdown button{
	width:100%;
	border:none;
	background: rgba(236, 236, 236, 0.5);
	position: relative;
}
.company-dropdown button span{
	position: absolute;
	right:10px;
	top:15px;
}
.company-dropdown .dropdown-menu{
	width:100%;
	background:#FAFAFA;
}
.company-dropdown .dropdown-menu li{
	text-align: center;
	background:#FAFAFA;
}
.company-dropdown .dropdown-menu li a{
	padding:8px 0px;
	margin:0px 5px;
	border-bottom: 1px solid #F4F4F4;
}
.company-dropdown #company-city-button{
	width:100% !important;
	text-align: center;
}
.company-dropdown .ui-selectmenu-text{
	text-align: center !important;
}
#company-city-menu li{
	text-align: center;
	padding:10px 8px;
	border:none!important;
	border-bottom: 1px solid #F4F4F4 !important;
	background:#FAFAFA;
}
.ui-state-focus{
	border:none!important;
	border-bottom: 1px solid #F4F4F4 !important;
	border-top:none !important;
	margin:0px !important;
}
#company-city-menu li:first-child{
	display: none;
}
#company-city-button .ui-icon-triangle-1-s{
	border-top: 6px solid !important;
	border-right: 4px solid transparent !important;
	border-left: 4px solid transparent !important;
	margin-top: -2px;
	width:auto;
	height:auto;
}
.company-list{
	width:65%;
	font-size: 0;
	margin: 7% auto 12%;
	clear:both;
}
.company-list li{
	display: inline-block;
	width:25%;
	margin-bottom: 3%;
}
.request-company{
	font-size:0;
	width:40%;
	margin:auto;
	padding-left: 70px;
}
.request-company li{
	display: inline-block;
	font-size: 14px;
	color:  #9f9f9f;
}
.request-company li:first-child{
	margin-right:40px;
}
.request-company li a{
	font-size: 16px;
	color:  #0e9b57;
	text-transform: uppercase;
}
.company-done{
	margin-top:10%;
	text-align: center;
}
.company-done a{
	color:#B7B7B9 !important;
	margin-right:50px;
}
@media(max-width:1920px)
{
	.navigation
	{
		max-height: 68px;
	}
	.navigation-logo-menu
	{
		width: 50%;
		padding: 23px 0px 23px 200px;

	}
	.navigation-logo
	{
		margin-right: 330px;
		padding: 11.5px 0px;
	}
	.navigation-logo-top
	{
		font-size: 19px;
	}
	.navigation-logo-bottom
	{
		font-size: 12.5px;
	}
	.navigation-logo-menu a
	{
		font-size: 12px;
	}
}
@media(max-width:1200px)
{
	.nav{width: auto;}
	.navigation-logo-menu
	{
		padding: 13px 0px 13px 115px;
		margin:0px;
		width: 50%;
	}
	.navigation-logo-menu li a
	{
		font-size: 9px;
	}
	.navbar-header
	{
		width: 48%;
	}
	.navigation-logo {

	    padding: 7.5px 0px;
	    width: 48%;
	    margin-right: 120px;
	}
	.navigation-logo-top {
	    font-size: 12.5px;
	}
	.navigation-logo-bottom
	{
		font-size: 9px;
	}

}
@media(max-width:767px)
{
	.navigation
	{
		width:100%;
	}
	.navbar-header
	{
		width: 100%;
		height:65px;
	}
	#navbar {
	    position: absolute;
	    right: 0px;
	    top: 38px;
	}
	.navigation-logo
	{
		width: auto;
	}
	.navigation-logo-menu
	{
		width: auto;
	}
	.navigation-logo-menu a
	{
		font-size: 14px;
	}
	.navigation-logo-top
	{
		font-size: 14px;
	}
	.navigation
	{
		height: 40px;
		min-height: auto;
	}
	.navbar-header
	{
		height: 39px;
	}
	.navigation-logo-menu
	{
		background-color: #272727;
		float: right;
		margin-right: 0px;
	}
	.navigation-logo
	{
		float:left;
		margin:5px 5px 5px 15px !important;
		padding: 0px;
		
	}
	.navigation,.description-box
		{
			width:100%;
		}
	.navigation-logo-menu
	{
		padding:5px 5px 15px 5px;	

	}
	.navigation-logo-menu li
	{
		border-left:0px;
		padding-bottom: 10px;
		text-align: center;
		padding-left: 3px !important;
		padding-right: 3px !important;
	}
	.navigation-logo-menu li a
	{
		padding:7px 0px 7px 0px !important;
		border-bottom: 1px solid #1A1A1A;
		text-align: left;
	}
	.navbar-toggle
	{
		margin:-16px 15px 5px;
		padding:0px;
		margin-top: -17px;
	}
	.navigation-logo-bottom
	{
		font-size: 8px;
	}
	.navbar-collapse
	{
		padding:0px;
	}
	.navbar-nav > li
	{
		display: block;
	}
}

.labelFrom {
    color: #fe1f2e;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    white-space: nowrap;
}
.labelTo{
	color: #2cbf4f;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    white-space: nowrap;
}